<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurants| %>
      <tr>
        <td><%= restaurants.name %></td>
        <td><%= restaurants.address %></td>
        <td><%= restaurants.phone %></td>
        <td><%= restaurants.website %></td>
        <td><%= link_to 'Show', restaurants, class: "btn btn-link" %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurants), class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', restaurants, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path, class: "btn btn-link" %>
